.movie-card-col {
    overflow: hidden;
    z-index: 9;
    &:hover,
    &:active {
      transform: scale(0.97);
      cursor: pointer;
    }
    transition: .4s ease-in-out;     
    color:rgba(7, 7, 7, 0.568);
  }
  .movie-card-col img{
    height: auto;
    width: auto;
  }