
.profile-view {
    width:900px;
    padding:30px;
    border:0.3px solid grey;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
  }
  .favorites-item{
    float:left;
  }
  
  .app-container {
  padding: 30px;
  }
  