.nav li {
    display: inline;
    padding-right: 20px;
}
.nav{
    float: left;
}

header {
    padding: 30px;
    padding-bottom: 100px;
}
.nav .link {
    color:rgb(55, 250, 250,)
  }
  .link:hover {
     color: rgb(55, 250, 250, 0.493)
  }
  .logo-header {
      width: 30px;
  }